/* .css-1ejouah-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: black !important;
}

.css-1qltlow-MuiTabs-indicator {
    background-color: black !important;
}

.css-19kzrtu {
    padding: 3px !important;
} */