.container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.slideWrapper {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: ;  */
}

.responsiveImage {
    width: 100%;
    /* height:100vh ;  */
    object-fit: cover; 
}


@media (max-width: 478px) {

    .responsiveImage {
        width: 100%;
        height:16rem;
    } 
}
@media (max-width: 800px) {

    .responsiveImage {
        width: 100%;
        height:20rem;
    } 
}